<script setup>
import Sigma from "sigma";
import Graph from "graphology";
import { onMounted, ref } from "vue";

const nodesCount = ref(null);

onMounted(() => {
  const container = document.getElementById("graph-container");

  const graph = new Graph();

  const nodes = new Array(3500000).fill(0).map((_, i) => {
    return {
      id: i.toString(),
      x: Math.random() * 100,
      y: Math.random() * 100,
      size: Math.random() * 10,
      label: `Node ${i}`,
      color: "blue",
    };
  });

  nodesCount.value = nodes.length.toLocaleString(undefined, {
    maximumFractionDigits: 0,
  });
  console.log("nodes:", nodes);

  const edges = new Array(3500000).fill(0).map((_, i) => {
    return {
      source: i.toString(),
      target: (i + 1 === 3500000 ? i : i + 1).toString(),
    };
  });

  console.log("edges:", edges);

  var g = {
    nodes: [
      { id: "n0", label: "node 1", x: 0, y: 0, size: 3, color: "#00BCD4" },
      { id: "n1", label: "node 2", x: 3, y: 1, size: 2, color: "#00BCD4" },
      { id: "n2", label: "node 3", x: 1, y: 3, size: 1, color: "#00BCD4" },
      { id: "n3", label: "node 4", x: 6, y: 0, size: 3, color: "#00BCD4" },
      { id: "n4", label: "node 5", x: 5, y: 1, size: 2, color: "#00BCD4" },
      { id: "n5", label: "node 6", x: 4, y: 3, size: 1, color: "#00BCD4" },
    ],
    edges: [
      { id: "e0", source: "n0", target: "n1", color: "#545454", type: "line" },
      { id: "e1", source: "n1", target: "n2", color: "#545454", type: "line" },
      { id: "e2", source: "n1", target: "n3", color: "#545454", type: "line" },
      { id: "e3", source: "n1", target: "n4", color: "#545454", type: "line" },
      { id: "e4", source: "n2", target: "n0", color: "#545454", type: "line" },
      { id: "e5", source: "n2", target: "n3", color: "#545454", type: "line" },
      { id: "e6", source: "n3", target: "n2", color: "#545454", type: "line" },
      { id: "e7", source: "n4", target: "n5", color: "#545454", type: "line" },
      { id: "e8", source: "n4", target: "n3", color: "#545454", type: "line" },
      { id: "e9", source: "n5", target: "n0", color: "#545454", type: "line" },
    ],
  };

  nodes.map((i) =>
    graph.addNode(i.id, {
      x: i.x,
      y: i.y,
      size: i.size,
      label: i.label,
      color: i.color,
    })
  );

  // edges.map((i) => graph.addEdge(i.source, i.target));

  const renderer = new Sigma(graph, container);
});
</script>

<template>
  Node counter : {{ nodesCount }}
  <div id="graph-container"></div>
</template>

<style>
#graph-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
</style>
