<script setup>
import Graph from "graphology";
import Sigma from "sigma";
import { onMounted } from "vue";

onMounted(() => {
  const container = document.getElementById("sigma-container");

  const graph = new Graph();

  graph.addNode("John", { x: 0, y: 10, size: 5, label: "John", color: "blue" });
  graph.addNode("Mary", { x: 10, y: 0, size: 3, label: "Mary", color: "red" });

  graph.addEdge("John", "Mary");

  // Instantiate sigma:

  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  console.log("graph:", graph);
  const renderer = new Sigma(graph, container);
});
</script>

<template>
  <div id="sigma-container"></div>
</template>

<style>
#sigma-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
</style>
